<div class="hide-on-med-and-down">
    {% for post in site.related_posts limit: 3 %}
        <div class="col l4">
            <div class="card small hoverable">
                <div class="card-image">
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        <img src="{{ post.image }}" alt="{{ post.title }}">
                    </a>
                </div>
                <div class="card-action">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>